#search-bar {
    display: flex;
    justify-content: center;
    margin: 20px;
    color: #000000;
}
#search-bar input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
}
.category-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
     display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: #5D2E7E 5px solid;
    margin: 0 auto;
    border-radius: 5px;
}
.category-card {
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    background-color: #00000062;
}
.category-card img {
    width: 100px;
    height: auto;
    border-radius: 5px;
}
