#gameContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.tile{
    margin: 1rem;
    border: 5px solid #5D2E7E;
    border-radius: 5px;
    width: 350px;
}

img {
    width: 100%;
    border-bottom: #5D2E7E 5px solid;
}

.tileText{
    padding: 0.5em;
}